<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="login-body">

<div class="login-panel glass-panel">
    <h1>GateMaster Login</h1>

    <form method="POST" action="/login">
        <input type="email" name="email" placeholder="Email" class="login-input" required>
        <input type="password" name="password" placeholder="Password" class="login-input" required>
        <button class="login-btn">Login</button>
    </form>
</div>

</body>
</html>
